.search .bar { 
margin-top: -13.5rem;
}
.search .bar p {
    font-size: 2.2rem;
    font-weight: bold; 
    color: #2d7ad4; 
}
.search .bar input {
    margin-top: 1.5rem;
    width: 80%;
    padding: 0px 32px;
    border-radius: 120px;
    border: 1px solid #ccc;
    line-height: 50px;
    font-size: 16px;
}
.search .map {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    gap: 1.5rem;
    margin-top: 2rem;

}
.search .map img {
    width: 25rem;
    height: 25rem;
    object-fit: contain; 
}
.search .map p{
    font-size: 1.5rem;
}
.search .map h3 {
    font-size: 1.0rem;
}